<!-- BEGIN USWDS Header, custom -->
<header class="usa-header usa-header--extended">
    <div class="usa-navbar" style="max-width: 87.5rem;">
      <div class="usa-logo">
        <!-- <em class="usa-logo__text"><a href="/ecosystem/views/home.html" title="VHA Innovation Ecosystem">
            VA <span> | VHA Innovation Ecosystem</span>
          </a></em> -->
          <img src="../../assets/img/va-color-seal-black-text.png"
          title="U.S. Department of Veterans Affairs" alt="Logo for the U.S. Department of Veterans Affairs" height="40" />
      </div>
      <!-- <button type="button" class="usa-menu-btn">Menu</button> -->
    </div>
</header>
<!-- END USWDS Header, custom -->
