#va-team-gallery .gallery-divider {
    border: 3px solid #B3D05D !important;
    min-width: 150px;
    box-shadow: 0px 4px 7px 0px #e1e1e1;
}

#va-team-gallery .gallery--tile-container > div {
    cursor: pointer;
}

#va-team-gallery h3.gallery-heading {
    text-shadow: 1px 2px #e1e1e1
}

#va-team-gallery .gallery--tile-container div.usa-card__container {
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 7px 0px #e1e1e1;
}

#va-team-gallery .gallery--tile-container div.usa-card__container > img {
    border-radius: 4%;
}

#va-team-gallery .gallery--tile-container span {
    color: #000;
    font-weight: normal;
    font-size: .75em
}

#va-team-gallery .gallery--tile-container span.gallery-name {
    color: #000;
    font-weight: bold;
    font-size: .75em;
}

#va-team-gallery a.gallery-tags {
    text-decoration: none;
}

#gallery-modal .usa-modal {
    border-radius: 0% !important;
}

@media screen and (min-width: 1025px){
    #gallery-modal .usa-modal {
        min-width: 1000px;
        border-radius: 0% !important;
    }
}

#gallery-modal .usa-modal:focus {
    outline: none;
}

#gallery-modal .modal-img {
    border-radius: 3%;
}

#gallery-modal .usa-modal__main .grid-row > .grid-col-8 span {
    font-size: 1.06rem;
}

#gallery-modal .usa-modal__main .grid-col-12 > p.modal-description {
    font-size: 0.75em !important;
}
