@use "uswds-core" as *;

.usa-card__heading,
.usa-card__container {
    font-family: "Myriad-Pro", helvetica, arial, sans-serif;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 7px 0px #e1e1e1;
}
