<!-- AGENDA TABLE - START -->
<section id="agenda-table" class="agenda-table mobile:padding-y-6 desktop:padding-y-10">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12">
                <div class="title text-center">
                    <h1 class="margin-top-0">PREPARe Maternal Health Summit Agenda</h1>
                    <hr />
                    <h3 class="margin-0">
                        <span class="display-block tablet-lg:display-inline">July 27, 2023</span>
                        <span class="display-none tablet-lg:display-inline margin-x-3">|</span> 
                        <span class="display-block tablet-lg:display-inline">Orlando VA Medical Center</span>
                        <span class="display-none tablet-lg:display-inline margin-x-3">|</span> 
                        Auditorium - 4th Floor
                    </h3>
                </div>
            </div>
            <div class="grid-col-12 desktop:grid-col-10 desktop:grid-offset-1">
                <div id="agenda-table">
                <table class="usa-table usa-table--responsive">
                    <thead>
                        <tr>
                            <th scope="col" class="time">Time</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Speakers</th>
                        </tr>
                    </thead>                        
                    <tbody>
                        <tr class="emphasis">
                            <td data-label="Time" scope="row">
                                7:15 EST – 8:00 EST
                            </td>
                            <td data-label="Topic">
                                Check In
                            </td>
                            <td data-label="Speakers">
                                - 
                            </td>
                        </tr>                            
                        <tr>
                            <td data-label="Time" scope="row">
                                8:00 EST – 8:30 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Opening Remarks and Program Overview with Recorded Remarks by Under Secretary for Health</strong>
                            </td>
                            <td data-label="Speakers">
                                Melissa Tran, PMH-C, LMFT; Lisa Zacher, M.D., MACP, FCCP; Shereef Elnahal, M.D., M.B.A.​
                            </td>
                        </tr>   
                        <tr>
                            <td data-label="Time" scope="row">
                                8:30 EST – 9:00 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Keynote</strong>
                            </td>
                            <td data-label="Speakers">
                                Lourdes Tiglao, M.B.A.​
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Time" scope="row">
                                9:00 EST – 9:30 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Maternal Health Initiatives</strong>
                            </td>
                            <td data-label="Speakers">
                                Melissa Shaughnessy, D.O.; Lindsay Moore​
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                9:30 EST – 10:00 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Connecting Conversations</strong>
                            </td>
                            <td data-label="Speakers">
                                Melissa Tran, PMH-C, LMFT​
                            </td>
                        </tr> 
                        <tr class="emphasis">
                            <td data-label="Time" scope="row">
                                10:00 EST – 10:15 EST​
                            </td>
                            <td data-label="Topic">
                                Break
                            </td>
                            <td data-label="Speakers">
                                - 
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                10:15 EST – 11:30 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Health Disparities and Social Determinants Panel</strong> – A conversation on important factors facing maternity care in the current climate with considerations to marginalized communities, health disparities, and social determinants​
                            </td>
                            <td data-label="Speakers">
                                Moderator: Jasimine Joiner, LCSW<br />
                                Panelists: Cynthia Gantt Ph.D., FNP-BC, FAANP; Claudia Taboada, D.O.; Nichol Brewer-Lowry, M.Sc.​
                            </td>
                        </tr> 
                        <tr class="emphasis">
                            <td data-label="Time" scope="row">
                                11:30 EST – 12:45 EST​
                            </td>
                            <td data-label="Topic">
                                Lunch and Networking​
                            </td>
                            <td data-label="Speakers">
                                -
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                12:45 EST – 13:15 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>InnoVAtion</strong> – Empowering employees to focus on problems to create innovative, Veteran-centric solutions​
                            </td>
                            <td data-label="Speakers">
                                Kim Bielicki​
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                13:15 EST – 14:15 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Innovations and Research Panel</strong> - Panelists will explore the future opportunities in healthcare and spark ideas for participants to innovate in their own spaces​
                            </td>
                            <td data-label="Speakers">
                                Moderator: Kelly Nestman, M.A.​<r />
                                Panelists: Laura J. Miller, M.D.; Mathew Oommen, M.D.; Andrea Ippolito, M.S., M.Eng.​
                            </td>
                        </tr> 
                        <tr class="emphasis">
                            <td data-label="Time" scope="row">
                                14:15 EST – 14:30 EST​
                            </td>
                            <td data-label="Topic">
                                Break
                            </td>
                            <td data-label="Speakers">
                                -
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Time" scope="row">
                                14:30 EST – 15:00 EST​
                            </td>
                            <td data-label="Topic">
                                <strong>Veteran Lived Experience</strong> - Hear from Veterans who have utilized PREPARe services and personal stories from their own perinatal journey
                            </td>
                            <td data-label="Speakers">
                                Moderators: Glorian Chehade, RN, M.P.H.-NM, CLC; Lisa Pharoah-Gaton, RN, B.S.N., M.B.A.​<br />
                                Panelists: Jennifer Feltch, Frieda Martin, Veronica Woodberry    
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                15:00 EST – 16:15 EST​
                            </td>
                            <td data-label="Topic">
                                <strong></strong>Small Talks, Big Impact</strong> – Short, bold talks from VA and community providers
                            </td>
                            <td data-label="Speakers">
                                Maureen Elias, M.A.; Daniel J. Podberesky, M.D., FACR; Brianna Martin, M.A., BC-DMT, ECDCS; John De Caro, M.D.; Antoinette Stewart, M.Div.​
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                16:15 EST – 16:30 EST​
                            </td>
                            <td data-label="Topic">
                                <strong></strong>Closing Remarks​</strong>
                            </td>
                            <td data-label="Speakers">
                                Susan Kirsh, M.D., M.P.H.​
                            </td>
                        </tr> 
                        <tr>
                            <td data-label="Time" scope="row">
                                17:00 EST ​
                            </td>
                            <td data-label="Topic">
                                <strong>Optional No-host Networking Opportunity</strong><br />
                                Off-site at Boxi Park
                            </td>
                            <td data-label="Speakers">
                                -
                            </td>
                        </tr>                                                
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- AGEDA TABLE - END -->