<!-- MASTHEAD - START -->
<section id="masthead" class="masthead">
    <div class="grid-container">
      <div class="grid-row flex-align-center flex-align-stretch">
            <div class="grid-col-12 desktop:grid-col-5">
              <div class="masthead-title-content">
                <div class="title title--left">
                  <h1 class="display-1">Maternal Health Summit</h1>
                  <hr />
                </div>
                <h3 class="margin-0">
                  <span class="tablet-lg:display-inline">July 27, 2023</span>
                  <span class="tablet-lg:display-inline margin-x-2">|</span> 
                  <span class="tablet-lg:display-inline">Orlando, FL</span>
                  <span class="tablet-lg:display-inline margin-x-2">|</span> 
                  Hosted by: PREPARe, Perinatal Reproductive Education Planning and Resources
              </h3>                      
                <p>Exploring ways to provide the best maternal and reproductive health care and keeping Veterans Health Administrationa (VHA) a trusted source of support for perinatal Veterans.</p>                              
              </div>
            </div>
            <div class="grid-col-12 desktop:grid-col-7 masthead-img">
            </div>            
        </div>
    </div>
  </section>
  <!-- MASTHEAD - END -->