<!-- SUMMIT STATEMENT - START -->
<section id="summit-statement" class="summit-statement dark">
    <div class="grid-container">
        <div class="summit-statement__wrap mobile:padding-5 tablet:padding-10">
            <div class="summit-statement__content">
                <div class="grid-row grid-gap flex-align-center">
                    <div class="grid-col-12 desktop:grid-col-8 desktop:grid-offset-2">
                        <div class="title text-center">
                            <h2 class="margin-top-0">PREPARe Maternal Health Summit Statement on Language, Sex, and Gender</h2>
                            <hr />
                        </div>
                    </div>
                    <div class="grid-col-12">
                        <p>PREPARe Maternal Health Summit acknowledges that sex assigned at birth and gender are two distinct dimensions of a person's identity that are often grouped together. The use of the term “women Veteran” can obscure the important differences between constructs of sex and gender.</p>
                        <p>Sex in the context of VHA administrative data refers to an individual's biology assigned at birth, i.e., female, male, which has limitations that affect research data, operations. and policies. PREPARe Maternal Health Summit defines gender as an individual's expression of their gender identity and related sociocultural expectations and behaviors and recognizes that gender identities exist outside of male and female, such as non-binary, trans-masculine, trans-feminine, etc., that are not yet widely assessed and recorded in VHA medical records. As of FY23 Veterans are now able to self-identify their gender and sexual orientation, which will improve these limitations in the future.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<!-- SUMMIT STATEMENT - END -->