<!-- Team Gallery w/ Modals -->
<div class="margin-y-3">
    <div
      class="usa-modal"
      id="example-modal-1"
      aria-labelledby="modal-1-heading"
      aria-describedby="modal-1-description"
    >
      <div class="usa-modal__content">
        <div class="usa-modal__main">
          <h2 class="usa-modal__heading" id="modal-1-heading">
            Are you sure you want to continue?
          </h2>
          <div class="usa-prose">
            <p id="modal-1-description">
              You have unsaved changes that will be lost.
            </p>
          </div>
          <div class="usa-modal__footer">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <button type="button" class="usa-button" data-close-modal>
                  Continue without saving
                </button>
              </li>
              <li class="usa-button-group__item">
                <button
                  type="button"
                  class="usa-button usa-button--unstyled padding-105 text-center"
                  data-close-modal
                >
                  Go back
                </button>
              </li>
            </ul>
          </div>
        </div>
        <button
          type="button"
          class="usa-button usa-modal__close"
          aria-label="Close this window"
          data-close-modal
        >
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/assets/img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

<section>
    <div class="grid-col-12 padding-0 margin-x-auto">
        <div class="grid-container padding-3">

            <div class="grid-row grid-gap">
                <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-8">
                    <h1 style="margin: auto">Meet the Speakers and Panelists</h1>
                </div>
            </div>

            <div class="grid-row grid-gap">
                <!--Col 1-->
                <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 padding-top-2 padding-bottom-2 minh-mobile-lg">
                    <a href="#example-modal-1"
                    class=""
                    aria-controls="example-modal-1"
                    data-open-modal>
                        <div class="usa-card__container padding-0 text-primary bg-base-lightest boxComingSoon grid-box grid-box-a modal-toggle" data-title="First" data-content="Orlando VA System." data-src="https://cdn4.buysellads.net/uu/1/122503/1662488171-MC_Carbon_Logo_260x200.png"
                        style="box-shadow: 0px 5px 6px -6px black; border-bottom-left-radius: 7px !important; border-bottom-right-radius: 7px !important">
                            <img src="https://cdn4.buysellads.net/uu/1/122503/1662488171-MC_Carbon_Logo_260x200.png" />
                            <h4>First</h4>
                            <p>Orlando VA System</p>
                        </div>
                    </a>
                </div>
                <!--Col 2-->
                <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 padding-top-2 padding-bottom-2 minh-mobile-lg">
                    <a href="#example-modal-1"
                    class=""
                    aria-controls="example-modal-1"
                    data-open-modal>
                        <div class="usa-card__container padding-0 text-primary bg-base-lightest boxComingSoon grid-box grid-box-a modal-toggle" data-title="First" data-content="Orlando VA System." data-src="https://cdn4.buysellads.net/uu/1/122503/1662488171-MC_Carbon_Logo_260x200.png"
                        style="box-shadow: 0px 5px 6px -6px black; border-bottom-left-radius: 7px !important; border-bottom-right-radius: 7px !important">
                            <img src="https://cdn4.buysellads.net/uu/1/131163/1679663902-Indigo---260x200-2.jpg" />
                            <h4>Second</h4>
                            <p>Washington VA System</p>
                        </div>
                    </a>
                </div>
                <!--Col 3-->
                <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 padding-top-2 padding-bottom-2 minh-mobile-lg">
                    <div id="csBoxR1C3" class="usa-card__container padding-0 text-primary bg-base-lightest boxComingSoon"
                         style="box-shadow: 0px 5px 6px -6px black; border-bottom-left-radius: 7px !important; border-bottom-right-radius: 7px !important">
                        <div class="usa-card__media box-me-gradient padding-0">
                            <div class="usa-card__img parent-cs">
                                <img id="csimgR1C3" class="child-cs" src="" alt="" />
                            </div>
                        </div>
                        <div class="minh-mobile margin-3">
                            <label id="lblcsTitleR1C3" class="mobile-lg text-bold margin-0">
                                xxxxxxxxxxxxxxxxxx
                            </label>
                            <div class="padding-top-3" style="height: 150px; overflow-y: auto !important;">
                                <label id="lblcsDescR1C3" class="font-sans-sm text-black">
                                    xxxxxxxxxxxxxxxxxx
                                </label>
                            </div>
                        </div>
                        <div class="grid-col-11 btn-vaipm-product">
                            <center><img id="imgcsLogoR1C3" src="" title="" /></center>
                            <a id="acsR1C3" class="coming-soon-btn" title="">COMING SOON&nbsp;</a>
                        </div>
                    </div>
                </div>
                <!--Col 4-->
                <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-3 padding-top-2 padding-bottom-2 minh-mobile-lg">
                    <div id="csBoxR1C3" class="usa-card__container padding-0 text-primary bg-base-lightest boxComingSoon"
                         style="box-shadow: 0px 5px 6px -6px black; border-bottom-left-radius: 7px !important; border-bottom-right-radius: 7px !important">
                        <div class="usa-card__media box-me-gradient padding-0">
                            <div class="usa-card__img parent-cs">
                                <img id="csimgR1C3" class="child-cs" src="" alt="" />
                            </div>
                        </div>
                        <div class="minh-mobile margin-3">
                            <label id="lblcsTitleR1C3" class="mobile-lg text-bold margin-0">
                                xxxxxxxxxxxxxxxxxx
                            </label>
                            <div class="padding-top-3" style="height: 150px; overflow-y: auto !important;">
                                <label id="lblcsDescR1C3" class="font-sans-sm text-black">
                                    xxxxxxxxxxxxxxxxxx
                                </label>
                            </div>
                        </div>
                        <div class="grid-col-11 btn-vaipm-product">
                            <center><img id="imgcsLogoR1C3" src="" title="" /></center>
                            <a id="acsR1C3" class="coming-soon-btn" title="">COMING SOON&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>

$(document).ready(function () {
    $(".modal-toggle").click(function () {
    	var imgPhoto = $(this).data('src');
        $('.modal-img > img').attr('src', imgPhoto); 
        $('.modal-title').html($(this).data('title'));
        $('.modal-body').html($(this).data('content'));
        jQuery('#myModal').modal('show');
    });
});

</script>
