<section id="va-team-gallery" class="padding-3 margin-x-auto">
    <div class="grid-container grid-row">

				<div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-12 text-center">
						<h1 class="gallery-heading">Meet the Speakers and Panelists</h1>
				</div>

				<hr class="gallery-divider margin-y-1 margin-bottom-5" />

				<!-- dynamic gallery tiles -->
				<div class="grid-row gallery--tile-container"></div>
				
    </div>
</section>

<!-- modal window -->
<div class="gallery--modal-window">
	<div
		class="usa-modal"
		id="gallery-modal"
		aria-labelledby="modal-1-heading"
		aria-describedby="modal-1-description"
	>
		<div class="usa-modal__heading text-right">
			<button
				type="button"
				class="usa-button usa-button--unstyled padding-105"
				data-close-modal
			>
				<img src="assets/img/icon.png" />
			</button>
		</div>

		<div class="usa-modal__content padding-x-8">
			<div class="usa-modal__main">
				<div class="grid-row">

					<div class="grid-col-4">
						<img class="modal-img" src="" />
					</div>

					<div class="grid-col-8 padding-y-7 padding-x-3 right-column">
						<h4 class="modal-name margin-y-2"></h4>
						<p class="modal-department margin-y-0"></p>
						<p class="modal-title margin-y-0"></p>
						<p class="modal-organization margin-y-0"></p>
					</div>
				</div>
				
				<div class="grid-col-12 grid-row">
					<p id="modal-1-description" class="modal-description"></p>
				</div>

			</div>
		</div>
	</div>
</div> 

<script src="assets/js/team-gallery.js"></script>
